body{
  padding: 50px;
  padding-bottom: 500px;
  background-color: #efefef;

}

h1{
  color: #c91332;
  padding: 20px;
}

p{
  background-color: #c91332;
  padding: 30px;
  color: white;
  text-align: center;
}